rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Anyone can read/write characters, visits and treats (this is a public meme app)
    match /characters/{document} {
      allow read, write: if true;
    }
    match /visits/{document} {
      allow read, write: if true;
    }
    match /treats/{document} {
      allow read, write: if true;
    }
  }
}
